@import "../../variables.css";

.mainActionButton {
  color: black;
  height: 54px;
  width: 188px;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
}

.error {
  background: var(--color-red);
}

.success {
  background: var(--color-green);
}

.incomplete {
  background: var(--color-grey);
}
