.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 60vw;
  padding-top: 35px;
}

.moveToEnd {
  margin-top: 28px;
  display: flex;
  justify-content: flex-end;
}

.moveToEnd > :first-child {
  margin-right: 10px;
}

.questionWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
  margin-bottom: 30px;
}

.inputError {
  border-left: 10pt solid var(--colour-red);
  padding-left: 8px;
  padding-top: 5px;
  margin-top: 8px;
}

.questionWrapper > div {
  width: 160px;
}

.mainActionButton {
  background-color: var(--colour-blue);
  height: 54px;
  width: 160px;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
}

@media only screen and (max-width: 600px) {
  .flexContainer > div {
    width: 600px;
  }
}
