.signUpWrapper {
  border: 2pt solid #c4c4c4;
  width: 60vw;
  height: 500px;
  border-radius: 10px;
  padding: 60px 100px;
  margin: 18px;
}

@media only screen and (max-width: 700px) {
  .signUpWrapper {
    border: none;
    padding: 2vh 3vw;
  }
}
