.mainHeader{
    border-bottom: 7pt solid #c4c4c4;
    padding: 32px 0px 21px 14px;
}

.mainHeader > h1 {
    font-size:38px;
    font-weight: 700;
}

.mainBody{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    justify-content: center;
}